<a href="https://colab.research.google.com/github/Yunpei24/ProgrammationParallele/blob/main/ExerciceBasePython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
def du():
    nombre = 0
    while nombre < 10 or nombre >= 100:
        nombre = int(input("Saisir un nombre compris entre 10 et 100 exclus: "))
        di = nombre//10
        un = nombre%10
    print("Unité = ", un)
    print("Dizaine = ", di)
    
def cdu():
    nombre = 0
    while nombre < 100 or nombre >= 1000:
        nombre = int(input("Saisir un nombre compris entre 100 et 1000 exclus: "))
        ce = nombre//100
        di = (nombre%100)//10
        un = nombre%10
    print("Unité = ",un)
    print("Dizaine = ",di)
    print("Centaine = ",ce)

In [3]:
du()
cdu()

Saisir un nombre compris entre 10 et 100 exclus: 57
Unité =  7
Dizaine =  5
Saisir un nombre compris entre 100 et 1000 exclus: 274
Unité =  4
Dizaine =  7
Centaine =  2

In [27]:
def decomposer():
  nombre = int(input("Saisir un nombre: "))
  while nombre:
    if((nombre // 10) != 0):
      print(nombre%10, end=",")
    else:
      print(nombre%10)
    nombre = nombre // 10
decomposer()

Saisir un nombre: 7254
4,5,2,7

In [4]:
nbre = int(input("Saisir un nombre: "))
mil = nbre//1000
ce = (nbre%1000)//100
di = (nbre%100)//10
un = nbre%10
print(un, di, ce, mil, sep=",")

Saisir un nombre: 328
8,2,3,0

In [1]:
import random

In [17]:
max, max2 = 0, 1
min, min2 = 22, 21
for i in range(11):
  a = random.randrange(1, 20)
  if a > max:
    max = a
  if a > max2 and max2 < max and max != a:
    max2 = a
  if a < min:
    min = a
  if a < min2 and min2 > min and min != a:
    min2 = a
  print(a, end=" ")

print("\nMax =", max)
print("Max2 =", max2)
print("Min =", min)
print("Min2 =", min2)

1 5 1 14 15 16 14 11 9 3 12
Max = 16
Max2 = 14
Min = 1
Min2 = 3